PUBLIC_BASE_URL=https://sign.qms.dearauditor.ch
DEFAULT_OAUTH_PROVIDER=github
ALLOWED_OAUTH_PROVIDERS=github
GITHUB_API_BASE_URL=https://api.github.com

GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_APP_INSTALLATION_ID=
SIGNATURE_LINK_SECRET=
SIGNATURE_STATE_SECRET=
