PUBLIC_BASE_URL=https://sign.qms.dearauditor.ch
DEFAULT_OAUTH_PROVIDER=github
ALLOWED_OAUTH_PROVIDERS=github
GITHUB_API_BASE_URL=https://api.github.com

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
QMS_BOT_APP_ID=
QMS_BOT_APP_PRIVATE_KEY=
QMS_BOT_APP_INSTALLATION_ID=
SIGNATURE_STATE_SECRET=
PIN_PEPPER=
